<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Ponctuel Voyages - Online Booking HTML Template">
    <meta name="description" content="Ponctuel Voyages - Online Booking HTML Template">
    <meta name="author" content="Ponctuel Voyages">

    <title>Ponctuel Voyages - Contact</title>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/theme-turqoise.css" id="template-color" />
    <link rel="stylesheet" href="css/lightslider.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Slab:400,700&amp;subset=latin,latin-ext,greek-ext,greek,cyrillic,vietnamese,cyrillic-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="js/e808bf9397.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/styler.css" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body onload="initialize()" class="bg-contact">
    <!--- loading animation -->
    <div class="loading">
        <div class="ball"></div>
        <div class="ball1"></div>
    </div>
    <!--- //loading animation -->


    <!--header-->
    <header class="header">
        <div class="wrap">
            <!--logo-->
            <div class="logo">
                <a href="#" title="Ponctuel Voyages">
                    <img src="images/txt/logo.png" alt="Ponctuel Voyages" /></a>
            </div>
            <!--//logo-->

            <!--ribbon-->
            <div class="ribbon">
                <nav>
                    <ul class="profile-nav">
                        <li class="active"><a href="#" title="Mon Compte">Mon Compte</a></li>
                        <li><a href="#login.html" title="Login">S'identifier</a></li>
                        <li><a href="#my_account.html" title="Settings">Inscription</a></li>
                    </ul>
                    <ul class="lang-nav">
                        <li class="active"><a href="#" title="Français (Fr)">Français (Fr)</a></li>
                        <!--						<li><a href="#" title="English (En)">English (En)</a></li>-->
                        <!--						<li><a href="#" title="Arabe (Ar)">Arabe (Ar)</a></li>-->
                    </ul>
                    <!--					<ul class="currency-nav">-->
                    <!--						<li class="active"><a href="#" title="$US Dollar">$US Dollar</a></li>-->
                    <!--						<li><a href="#" title="€ Euro">€ Euro</a></li>-->
                    <!--						<li><a href="#" title="£ Pound">£ Pound</a></li>-->
                    <!--					</ul>-->
                </nav>
            </div>
            <!--//ribbon-->
            <!--search-->
            <div class="search">
                <div class="rs">
                    <a href=""><span class="fa fa-whatsapp fa-2x"></span></a>
                    <a href=""><span class="fa fa-instagram fa-2x"></span></a>
                    <a href=""><span class="fa fa-facebook fa-2x"></span></a>
                </div>
            </div>
            <!--//search-->

            <!--contact-->
            <div class="contact">
                <span>24h/24 et 7j/7 Support</span>
                <span class="number">212 626-908-989</span>
            </div>
            <!--//contact-->
        </div>

        <!--main navigation-->
        <nav class="main-nav">
            <div class="wrap">
                <ul class="slimmenu" id="nav">
                    <li class="active"><a href="index.html" title="Hotels">Accueil</a></li>
                    <li><a href="hotels.html" title="Deals hotels">Deals hotels</a></li>
                    <li><a href="#flight_and_hotels.html" title="Flight + Hotel">Voyages organisés</a></li>
                    <li><a href="#self_caterings.html" title="Self catering">Activités et loisirs</a></li>
                    <li><a href="#cruises.html" title="Cruises">Transport et locations</a></li>
                    <li><a href="contact.html" title="Car rental">Contact</a></li>
                </ul>
            </div>
        </nav>
        <!--//main navigation-->
    </header>
    <!--//header-->

    <!--main-->
    <main class="main">
        <div class="wrap">
            <!--breadcrumbs-->
            <nav class="breadcrumbs">
                <!--crumbs-->
                <ul>
                    <li><a href="#" title="Accueil">Accueil</a></li>
                    <li>Contact</li>
                </ul>
                <!--//crumbs-->
            </nav>
            <!--//breadcrumbs-->

            <div class="row">
                <!--three-fourth content-->
                <div class="one-half">
                    <h1>Contact us</h1>
                    <!--map-->
                    <div class="map-wrap">
                        <div class="gmap" id="map_canvas"></div>
                    </div>
                    <!--//map-->
                    <!--contact info-->
                    <aside>

                        <article class="widget">
                            <h4>Ou rendez-vous en agence à l'adresse</h4>
                            <h6>Les horaires du travail</h6>
                            <p><i class="fa fa-calendar"></i> Lundi - Vendredi du 9h00-17h00</p>
                            <p><i class="fa fa-calendar"></i> Samedi du 9h00-13h00</p>
                            <br>
                            <p><i class="fa fa-map-marker"></i> Annakhil Marrakech</p>
                            <p>40000, Maroc</p>
                        </article>
                    </aside>
                    <!--//contact info-->
                </div>
                <!--three-fourth content-->

                <!--sidebar-->
                <aside class="one-half right-sidebar lower">
                    <!--contact form-->
                    <article class="widget">
                        <h4>Envoyez-nous un message</h4>
                        <form method="post" action="#" name="contactform" id="contactform">
                            <fieldset>
                                <div id="message"></div>
                                <div class="row">
                                    <div class="f-item full-width">
                                        <label for="nom">Votre nom</label>
                                        <input type="text" id="nom" placeholder="Tappez votre nom" name="nom" />
                                    </div>
                                    <div class="f-item full-width">
                                        <label for="prenom">Votre prénom</label>
                                        <input type="text" id="prenom" placeholder="Tappez votre prénom" name="prenom" />
                                    </div>
                                    <div class="f-item full-width">
                                        <label for="phone">Votre téléphone</label>
                                        <input type="text" id="phone" placeholder="Tappez votre téléphone" name="phone" />
                                    </div>
                                    <div class="f-item full-width">
                                        <label for="email">Votre e-mail</label>
                                        <input type="email" id="email" name="email" placeholder="exemple@email.com" />
                                    </div>
                                    <div class="f-item full-width">
                                        <label for="comments">Votre message</label>
                                        <textarea id="comments" placeholder="Tappez votre message ici..." rows="6" cols="10"></textarea>
                                    </div>
                                    <div class="f-item full-width">
                                        <input type="submit" value="Encoyer" id="submit" name="submit" class="gradient-button" />
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </article>
                    <!--//contact form-->

                    <!--contact info-->
                    <article class="widget">
                        <h4>Ou contactez-nous directement sur :</h4>
                        <p class="number">212 626-908-989 | <i class="fa fa-whatsapp"></i> 212 661-000-000</p>
                        <p class="email"><a href="#">booking@mail.com</a></p>
                    </article>
                    <!--//contact info-->
                </aside>
                <!--//sidebar-->
            </div>
            <!--//main content-->
        </div>
    </main>
    <!--//main-->

    <!--footer-->
    <footer class="footer">
        <div class="wrap">
            <div class="row">
                <!--column-->
                <article class="one-fourth">
                    <h6>Ponctuel Voyages</h6>
                    <p>40000 Annakhil, Marrakech, Maroc</p>
                    <p><em>Support :</em> 24h/7j</p>
                    <p><em>Téléphone :</em> 212 626-908-989</p>
                    <p><em>Email:</em> <a href="#" title="booking@mail.com">booking@mail.com</a></p>
                </article>
                <!--//column-->

                <!--column-->
                <article class="one-fourth">
                    <h6>Service client</h6>
                    <ul>
                        <li><a href="#" title="Faq">Faq</a></li>
                        <li><a href="#" title="How do I make a reservation?">Comment faire une réservation ?</a></li>
                        <li><a href="#" title="Payment options">Options de paiement</a></li>
                        <li><a href="#" title="Booking tips">Conseils de réservation</a></li>
                    </ul>
                </article>
                <!--//column-->

                <!--column-->
                <article class="one-fourth">
                    <h6>Suivez-nous</h6>
                    <ul class="social">
                        <li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
                        <li><a href="#" title="instagram"><i class="fa  fa-fw fa-instagram"></i></a></li>
                        <li><a href="#" title="youtube"><i class="fa  fa-fw fa-youtube"></i></a></li>
                        <li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
                        <li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
                    </ul>
                </article>
                <!--//column-->

                <!--column-->
                <article class="one-fourth">
                    <h6>Ne manquez pas nos offres exclusives</h6>
                    <form id="newsletter" action="#" method="post">
                        <fieldset>
                            <input type="email" id="newsletter_signup" name="newsletter_signup" placeholder="Entrez votre email ici" />
                            <input type="submit" id="newsletter_submit" name="newsletter_submit" value="Inscrivez-vous" class="gradient-button" />
                        </fieldset>
                    </form>
                </article>
                <!--//column-->

                <div class="bottom full-width">
                    <!--                | By <a href="http://solution-click.com">solution-click.com</a>-->
                    <p class="copy">Copyright 2021 Ponctuel Voyages . All rights reserved
                    </p>
                    <nav>
                        <ul>
                            <li><a href="#" title="Partners">Accueil</a></li>
                            <li><a href="#" title="About us">Qui somme nous</a></li>
                            <li><a href="contact.html" title="Contact">Contact</a></li>
                            <li><a href="#" title="FAQ">FAQ</a></li>
                            <li><a href="#" title="Terms & Conditions">Termes et conditions</a></li>
                            <li><a href="#" title="Privacy statement">Politique de confidentialité</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <!---footer-->


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="js/jquery.slimmenu.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script type="text/javascript" src="js/infobox.js"></script>

    <script type="text/javascript">
        function initialize() {
            var secheltLoc = new google.maps.LatLng(49.47216, -123.76307);

            var myMapOptions = {
                zoom: 15,
                center: secheltLoc,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var theMap = new google.maps.Map(document.getElementById("map_canvas"), myMapOptions);


            var marker = new google.maps.Marker({
                map: theMap,
                draggable: true,
                position: new google.maps.LatLng(49.47216, -123.76307),
                visible: true
            });

            var boxText = document.createElement("div");
            boxText.innerHTML = "<strong>Ponctuel Voyage</strong><br>40000 Annakhil, Marrakech,<br>Maroc";

            var myOptions = {
                content: boxText,
                disableAutoPan: false,
                maxWidth: 0,
                pixelOffset: new google.maps.Size(-140, 0),
                zIndex: null,
                closeBoxURL: "",
                infoBoxClearance: new google.maps.Size(1, 1),
                isHidden: false,
                pane: "floatPane",
                enableEventPropagation: false
            };

            google.maps.event.addListener(marker, "click", function(e) {
                ib.open(theMap, this);
            });

            var ib = new InfoBox(myOptions);
            ib.open(theMap, marker);
        }
    </script>


</body>

</html>